@model Request_Course.VM.ModaresanPishnahadi

<div>
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">انتخاب مدرس</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                            <div class="row"><div class="col-sm-6"></div><div class="col-sm-6"></div></div><div class="row">
                                <div class="col-sm-12">
                                    <table id="example2" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
                                        <thead>
                                        </thead>
                                        <tbody>
                                            <p>مدرس های مربوط به دوره</p>
                                            <div>
                                                <p>
                                                    Teahcername1:@Model.Teahcername1
                                                    @if (!string.IsNullOrEmpty(@Model.Teahcername3))
                                                    {
                                                        <a asp-controller="Admin" asp-action="FinalBindModares" asp-route-dorehid="@ViewBag.DorehId" asp-route-modaresid="@Model.ID_Teahcername1">انتخاب</a>
                                                    }
                                                </p>
                                            </div>
                                            <div>
                                                <p>
                                                    Teahcername2:@Model.Teahcername2
                                                    @if (!string.IsNullOrEmpty(@Model.Teahcername3))
                                                    {
                                                        <a asp-controller="Admin" asp-action="FinalBindModares" asp-route-dorehid="@ViewBag.DorehId" asp-route-modaresid="@Model.ID_Teahcername2">انتخاب</a>
                                                    }
                                                </p>
                                            </div>
                                            <div>
                                                <p>
                                                    Teahcername3: @Model.Teahcername3 @if (!string.IsNullOrEmpty(@Model.Teahcername3))
                                                    {
                                                        <a asp-controller="Admin" asp-action="FinalBindModares" asp-route-dorehid="@ViewBag.DorehId" asp-route-modaresid="@Model.ID_Teahcername3">انتخاب</a>
                                                    }
                                                </p>
                                            </div>
                                            <div>
                                                <p>
                                                    TeacherPshanmdiName1 : @Model.TeacherPshanmdiName1
                                                    Phone : @Model.TeacherPshanmdiNumber1
                                                    <a asp-controller="Admin" asp-action="BindModaresPishnahadi" asp-route-Dorehid="@ViewBag.DorehId" asp-route-Phone="@Model.TeacherPshanmdiNumber1"> جستوجو و وصل کردن مدرس به دوره</a>
                                                </p>
                                            </div>
                                            <div>
                                                <p>
                                                    TeacherPshanmdiName2 : @Model.TeacherPshanmdiName2
                                                    Phone : @Model.TeacherPshanmdiNumber2
                                                    <a asp-controller="Admin" asp-action="BindModaresPishnahadi" asp-route-Dorehid="@ViewBag.DorehId" asp-route-Phone="@Model.TeacherPshanmdiNumber2"> جستوجو و وصل کردن مدرس به دوره</a>
                                                </p>
                                            </div>
                                            <div>
                                                <p>
                                                    TeacherPshanmdiName3 : @Model.TeacherPshanmdiName3
                                                    Phone : @Model.TeacherPshanmdiNumber3
                                                    <a asp-controller="Admin" asp-action="BindModaresPishnahadi" asp-route-Dorehid="@ViewBag.DorehId" asp-route-Phone="@Model.TeacherPshanmdiNumber3"> جستوجو و وصل کردن مدرس به دوره</a>
                                                </p>
                                            </div>
                                            <br />
                                            <br />
                                            <br />
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                    <!-- /.box -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
    </section>
</div>
