@model X.PagedList.IPagedList<Request_Course.Models.T_Mokhatebin>
@using X.PagedList;
@using X.PagedList.Mvc.Core;




<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">مدرسان</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                        <div class="row"><div class="col-sm-6"></div><div class="col-sm-6"></div></div><div class="row">
                            <div class="col-sm-12">
                                <table id="example2" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
                                    <thead>
                                        <tr role="row">
                                            <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="ascending" aria-label="نام کاربری: activate to sort column descending">
                                                @Html.ActionLink("شرکت", "Sherkatha",new {sortOrder="Name"})
                                            </th>

                                            <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="شماره: activate to sort column ascending">
                                                شماره
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="ایمیل: activate to sort column ascending">
                                                ایمیل
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                       @foreach (var item in Model)
                                        {
                                            <tr role="row" class="odd">
                                                <td class="sorting_1">@item.Name_Sherkat</td>
                                                <td>@item.Phone</td>
                                                <td>@item.Email</td>
                                                <td class="btn btn-warning" style="margin-right:5%;margin-left:2%"><a asp-controller="Admin" asp-action="GetDorehOfSherkat" asp-route-MokhatabId="@item.ID_Mokhatebin">دوره ها</a></td>
                                                <td class="btn btn-warning" style="margin-right:5%;margin-left:2%"><a asp-controller="Admin" asp-action="SetSatehSherkat" asp-route-sherkatId="@item.ID_Mokhatebin">سطح شرکت</a></td>
                                                <td class="btn btn-warning" style="margin-right:5%;margin-left:2%"><a asp-controller="Admin" asp-action="UpdateSherkat" asp-route-phone="@item.Phone">ویرایش</a></td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div><div class="row">
                            <div class="col-sm-5">
                            </div>

                            <div class="col-sm-7">
                                <div class="dataTables_paginate paging_simple_numbers" id="example2_paginate">
                                </div>
                                @Html.PagedListPager(Model, page => Url.Action("Sherkatha", new { pageid=page }))
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        function myFunction() {
            event.preventDefault();
            Swal.fire({
                title: 'آیا از اطلاعات خود مطمئن هستید ',
                icon: 'question',
                imageWidth: 350,
                imageHeight: 300,
                showCloseButton: false,
                showCancelButton: true,
                focusConfirm: false,
                cancelButtonColor: '#d33',
                confirmButtonColor: '#3085d6',
                confirmButtonText: 'تایید',
                cancelButtonText: 'رد',
            }).then(res => {
                if (res.isConfirmed) {
                    document.getElementById("myForm").submit();
                } else {
                    Swal.fire({
                        title: 'عدم تایید',
                        text: 'عدم ارسال اطلاعات',
                        icon: 'error',
                        confirmButtonText: 'اوکی',
                        cancelButtonText: 'اوکی',
                    })
                }
            });
        }
    </script>






@*





    <div class="content-wrapper">

        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">شرکت ها</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                                <div class="row"><div class="col-sm-6"></div><div class="col-sm-6"></div></div><div class="row">
                                    <div class="col-sm-12">
                                        <table id="example2" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
                                            <thead>
                                                <tr role="row">
                                                    <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="ascending" aria-label="نام کاربری: activate to sort column descending">نام کربری</th>
                                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="شماره: activate to sort column ascending">شماره</th>
                                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="ایمیل: activate to sort column ascending">ایمیل</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model)
                                            {
                                                <tr role="row" class="odd">
                                                    <td class="sorting_1">@item.Name_Sherkat</td>
                                                    <td>@item.Phone</td>
                                                    <td>@item.Email</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div><div class="row">
                                <div class="col-sm-5">
                                </div>

                                <div class="col-sm-7">
                                    <div class="dataTables_paginate paging_simple_numbers" id="example2_paginate">
                                        @if (ViewBag.pagecount >= 1)
                                        {
                                            <ul class="pagination">
                                                @for (int i = 0; i < ViewBag.pagecount + 1; i++)
                                                {
                                                    @if (ViewBag.pageid == i + 1)
                                                    {
                                                        <li class="paginate_button active">
                                                            <a asp-controller="Admin" asp-action="Sherkatha" asp-route-pageId="@(i+1)" aria-controls="example2" data-dt-idx="0" tabindex="0">@(i+1)</a>
                                                        </li>
                                                    }
                                                    else
                                                    {
                                                        <li class="paginate_button ">
                                                            <a asp-controller="Admin" asp-action="Sherkatha" asp-route-pageId="@(i+1)" aria-controls="example2" data-dt-idx="0" tabindex="0">@(i+1)</a>
                                                        </li>
                                                    }
                                                }
                                            </ul>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
</div>
*@