@using System.Web.Mvc;
@using Microsoft.AspNetCore.Mvc.Rendering;


<section class="content">
    <div class="panel panel-primary">
        <div class="panel-heading" style="font-family:'WYekan';"><p style="font-family:'WYekan';font-size:medium">تکمیل اطلاعات </p></div>
       
        <div class="panel-body">
            <form id="myForm" asp-action="SarFasliPishnahadi" method="post">
                <input type="hidden" name="DorehDarkhasti_ID" value="@ViewBag.DarkhastDoreh" data="@ViewBag.DarkhastDoreh" />
                <input type="hidden" name="onvanasli" value="@ViewBag.onvanasli" data="@ViewBag.onvanasli" />
                <input type="hidden" name="onvandoreh" value="@ViewBag.onvandoreh" data="@ViewBag.onvandoreh" />
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="col-8">
                                <div class="titrfild">
                                    <p style="font-family:WYekan;font-size:large">
                                        <i class="fa fa-square" style="color: #FFA503;"></i>&nbsp;&nbsp;
                                        <strong>اطلاعات سرفصل</strong>
                                    </p>
                                </div>
                            </div> <div class="col-4"></div>
                            <div class="col-md-10">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                    </div>
                </div>
                <br />
                <div class="row">
                    @for (int i = 0; i < 2; i++)
                    {
                        
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-6">
                                    <label class="control-label">محتوا</label>
                                    <i class="fa fa-asterisk" style="color: #ff4d4d;font-size:9px;"></i>
                                </div>
                                <div class="col-md-10">
                                    <input name="Mohtav" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-6">
                                    <label class="control-label">مدت اجرا</label>
                                    <i class="fa fa-asterisk" style="color: #ff4d4d;font-size:9px;"></i>
                                </div>
                                <div class="col-md-10">
                                    <input name="Modate_Ejra" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-md-6">
                                    <label class="control-label">نوع اجرا</label>
                                    <i class="fa fa-asterisk" style="color: #ff4d4d;font-size:9px;"></i>
                                </div>
                                <div class="col-md-10">
                                    <select name="shekldoreh" class="form-control" asp-items="@ViewBag.Sheklejra"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-md-6">
                                </div>
                                <div class="col-md-10">
                                </div>
                            </div>
                        </div>

                    }
                </div>
                <br />
                <br />
                <hr />
                <div class="row">
                    <div class="col-md-6">
                    </div>

                    <div class="col-md-3">
                    </div>

                    <div class="col-md-3">
                        <button onclick="myFunction()" class="btn btn-success btn-block">ادامه و تکمیل اطلاعات</button>
                    </div>

                </div>
            </form>
        </div>
    </div>
</section>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        function myFunction() {
            event.preventDefault();
            Swal.fire({
                title: 'آیا از اطلاعات خود مطمئن هستید ',
                icon: 'question',
                imageWidth: 350,
                imageHeight: 300,
                showCloseButton: false,
                showCancelButton: true,
                focusConfirm: false,
                cancelButtonColor: '#d33',
                confirmButtonColor: '#3085d6',
                confirmButtonText: 'تایید',
                cancelButtonText: 'رد',
            }).then(res => {
                if (res.isConfirmed) {
                    document.getElementById("myForm").submit();
                } else {
                    Swal.fire({
                        title: 'عدم تایید',
                        text: 'عدم ارسال اطلاعات',
                        icon: 'error',
                        confirmButtonText: 'اوکی',
                        cancelButtonText: 'اوکی',
                    })
                }
            });
        }
    </script>



