@model Request_Course.VM.SarFasl_PishnahadVM

@{
    Layout = "~/Views/Shared/_LayoutMokhatabin.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SarFasliPishnahadi</title>
</head>
<body>

    <section class="content">
        <div class="panel panel-primary">
            <div class="panel-heading" style="font-family:'WYekan';"><p style="font-family:'WYekan';font-size:medium">تکمیل اطلاعات </p></div>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="panel-body">
                <form asp-action="SarFasliPishnahadi" method="post">
                    <input type="hidden" name="DorehDarkhasti_ID" value="@ViewBag.DarkhastDoreh" data="@ViewBag.DarkhastDoreh" />
                    <input type="hidden" name="onvanasli" value="@ViewBag.onvanasli" data="@ViewBag.onvanasli" />
                    <input type="hidden" name="onvandoreh" value="@ViewBag.onvandoreh" data="@ViewBag.onvandoreh" />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-8">
                                    <div class="titrfild">
                                        <p style="font-family:WYekan;font-size:large">
                                            <i class="fa fa-square" style="color: #FFA503;"></i>&nbsp;&nbsp;
                                            <strong>اطلاعات سرفصل</strong>
                                        </p>
                                    </div>
                                </div> <div class="col-4"></div>
                                <div class="col-md-10">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        @for (int i = 0; i < 2; i++)
                        {
                             <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-6">
                                        <label class="control-label">محتوا</label>
                                        <i class="fa fa-asterisk" style="color: #ff4d4d;font-size:9px;"></i>
                                    </div>
                                    <div class="col-md-10">
                                        <input name="Mohtav" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-6">
                                        <label class="control-label">مدت اجرا</label>
                                        <i class="fa fa-asterisk" style="color: #ff4d4d;font-size:9px;"></i>
                                    </div>
                                    <div class="col-md-10">
                                        <input name="Modate_Ejra" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="col-md-6">
                                        <label class="control-label">نوع اجرا</label>
                                        <i class="fa fa-asterisk" style="color: #ff4d4d;font-size:9px;"></i>
                                    </div>
                                    <div class="col-md-10">
                                        <select name="shekldoreh" class="form-control" asp-items="@ViewBag.Sheklejra"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="col-md-6">
                                        
                                    </div>
                                    <div class="col-md-10">
 
                                    </div>
                                </div>
                            </div>
                            
                        }
                    </div>
                    <br />
                    <br />
                    <hr />
                    <div class="row">
                        <div class="col-md-6">
                        </div>

                        <div class="col-md-3">
                        </div>

                        <div class="col-md-3">
                            @if (@ViewBag._NoeRoydad == 7)
                            {
                                <button type="submit" class="btn btn-success btn-block">ادامه و تکمیل اطلاعات</button>
                            }
                            @if (@ViewBag._NoeRoydad != 7)
                            {
                                <button type="submit" class="btn btn-success btn-block">ادامه و تکمیل اطلاعات</button>
                            }
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </section>







 @*   <h4>SarFasl_PishnahadVM</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="SarFasliPishnahadi" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" name="DorehDarkhasti_ID" value="@ViewBag.DarkhastDoreh" data="@ViewBag.DarkhastDoreh" />
                <input type="hidden" name="onvanasli" value="@ViewBag.onvanasli" data="@ViewBag.onvanasli" />
                <input type="hidden" name="onvandoreh" value="@ViewBag.onvandoreh" data="@ViewBag.onvandoreh" />
                @for (int i = 0; i < 2; i++)
                {
                    <div class="form-group">
                        <label class="control-label">Mohtava</label>
                        <input name="Mohtav" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Modate_Ejra</label>
                        <input name="Modate_Ejra" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="control-label"> Shekle Ejra</label>
                        <select name="shekldoreh" class="form-control" asp-items="@ViewBag.Sheklejra"></select>
                    </div>
                    <br />
                }
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
*@
    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
    </body>
    </html>
