@model List<Request_Course.Models.T_Fasl_Doreh_Pishnahadi>

@{
    Layout = "~/Views/Shared/_LayoutIntialing.cshtml";


    int DorehDarkhasti_ID = @ViewBag.DorehDarkhasti_ID;
    int onvanasli = @ViewBag.onvanasli;

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SarFaslDoreh</title>
</head>
<body>


    <section class="content">
        <div class="panel panel-primary">
            <div class="panel-heading" style="font-family:'WYekan';"><p style="font-family:'WYekan';font-size:medium">تکمیل اطلاعات </p></div>

            <div class="panel-body">
                <form id="myForm" asp-action="SarFaslDoreh_NewDoreh_Pishnahadi" method="post">
                    <input type="hidden" name="DorehDarkhasti_ID" value="@ViewBag.DorehDarkhasti_ID" data="@ViewBag.DorehDarkhasti_ID" />
                    <input type="hidden" name="onvanasli" value="@ViewBag.onvanasli" data="@ViewBag.onvanasli" />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-8">
                                    <div class="titrfild">
                                        <p style="font-family:WYekan;font-size:large">
                                            <i class="fa fa-square" style="color: #FFA503;"></i>&nbsp;&nbsp;
                                            <strong>اطلاعات سرفصل</strong>
                                        </p>
                                    </div>
                                </div> <div class="col-4"></div>
                                <div class="col-md-10">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        @for (int i = 0; i < 2; i++)
                        {

                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-6">
                                        <label class="control-label">محتوا</label>
                                        <i class="fa fa-asterisk" style="color: #ff4d4d;font-size:9px;"></i>
                                    </div>
                                    <div class="col-md-10">
                                        <input name="Mohtav" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-6">
                                        <label class="control-label">مدت اجرا</label>
                                        <i class="fa fa-asterisk" style="color: #ff4d4d;font-size:9px;"></i>
                                    </div>
                                    <div class="col-md-10">
                                        <input name="Modate_Ejra" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="col-md-6">
                                        <label class="control-label">نوع اجرا</label>
                                        <i class="fa fa-asterisk" style="color: #ff4d4d;font-size:9px;"></i>
                                    </div>
                                    <div class="col-md-10">
                                        <select name="shekldoreh" class="form-control" asp-items="@ViewBag.Sheklejra"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="col-md-6">
                                    </div>
                                    <div class="col-md-10">
                                    </div>
                                </div>
                            </div>

                        }
                    </div>
                    <br />
                    <br />
                    <hr />
                    <div class="row">
                        <div class="col-md-6">
                        </div>

                        <div class="col-md-3">
                        </div>

                        <div class="col-md-3">
                            <button onclick="myFunction()" class="btn btn-success btn-block">اضافه کردن</button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </section>


    <section class="content">
        <div class="panel panel-primary">
            <div class="panel-body">
                <dl class="dl-horizontal">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="box">
                                <div class="box-header">
                                    <h3 class="box-title">سرفصل ها</h3>
                                </div>
                                <!-- /.box-header -->
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="col-8">
                                                <div class="titrfild">
                                                    <p style="font-family:WYekan;font-size:large">
                                                        <i class="fa fa-square" style="color: #FFA503;"></i>&nbsp;&nbsp;
                                                        <strong>اطلاعات سرفصل:</strong>
                                                    </p>
                                                </div>
                                            </div> <div class="col-4"></div>
                                            <div class="col-md-10">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                    </div>
                                </div>
                                <div class="box-body">
                                    <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                                        <div class="row"><div class="col-sm-6"></div><div class="col-sm-6"></div></div><div class="row">
                                            <div class="col-sm-12">
                                                <table id="example2" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
                                                    <thead>
                                                        <tr role="row">
                                                            <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="ascending" aria-label="عنوان دوره: activate to sort column descending">محتوا</th>
                                                            <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="مخاطب: activate to sort column ascending">مدت اجرا</th>
                                                            <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="مخاطب: activate to sort column ascending">نوع اجرا</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @for (int i = 0; i < Model.Count(); i++)
                                                        {
                                                            <tr role="row" class="odd">
                                                                <td class="sorting_1">@Model[i].Mohtava</td>
                                                                <td>@Model[i].Modate_Ejra</td>
                                                                <td>@Model[i].Shekle_Ejra</td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.box-body -->
                            </div>
                            <!-- /.box -->
                            <!-- /.box -->
                        </div>
                        <!-- /.col -->
                    </div>
                </dl>


            </div>
        </div>
    </section>

</body>
</html>




@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        function myFunction() {
            event.preventDefault();
            Swal.fire({
                title: 'آیا از اطلاعات خود مطمئن هستید ',
                icon: 'question',
                imageWidth: 350,
                imageHeight: 300,
                showCloseButton: false,
                showCancelButton: true,
                focusConfirm: false,
                cancelButtonColor: '#d33',
                confirmButtonColor: '#3085d6',
                confirmButtonText: 'تایید',
                cancelButtonText: 'رد',
            }).then(res => {
                if (res.isConfirmed) {
                    document.getElementById("myForm").submit();
                } else {
                    Swal.fire({
                        title: 'عدم تایید',
                        text: 'عدم ارسال اطلاعات',
                        icon: 'error',
                        confirmButtonText: 'اوکی',
                        cancelButtonText: 'اوکی',
                    })
                }
            });
        }
    </script>


