@model List<Request_Course.Models.T_Fasl_Doreh>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SarFaslDoreh</title>
</head>
<body>

    <div>
        <h4>T_Fasl_Doreh</h4>
        <hr />
        <dl class="dl-horizontal">
            @for (int i = 0; i < Model.Count; i++)
            {
                <dt>
                    @Html.DisplayNameFor(model => model[i].ID_Fasl_Doreh)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model[i].ID_Fasl_Doreh)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model[i].Mohtav)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model[i].Mohtav)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model[i].Modate_Ejra)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model[i].Modate_Ejra)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model[i].Shekle_Ejra)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model[i].Shekle_Ejra)
                </dd>
            }
            <form asp-action="SarFasliPishnahadi" method="get"  >
                <input type="hidden" name="DorehDarkhasti_ID" value="@ViewBag.DorehDarkhasti_ID" data="@ViewBag.DorehDarkhasti_ID" />
                <input type="submit" value="سر فصل جدید" />
            </form>

        </dl>
        <a asp-controller="Request" asp-action="TeacherOfDoreh" asp-route-onvanAsli="" asp-route-OnvanDoreh="@ViewBag.DorehDarkhasti_ID" >
            Except
        </a>
    </div>
    <div>
        @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
        <a asp-action="Index">Back to List</a>
    </div>
</body>
</html>
