@model Request_Course.VM.ModaresanVM

@*@{
    Layout = null;
}*@

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TeacherForm</title>
</head>
<body>
    <section class="content-header">
            <h1>
                داشبرد
                <small>ورژن ۲</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> خانه</a></li>
                <li class="active">داشبرد</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <!-- Info boxes -->
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-aqua"><i class="ion ion-ios-gear-outline"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">قدرت سرور</span>
                            <span class="info-box-number">90<small>%</small></span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
                <!-- /.col -->
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-red"><i class="fa fa-google-plus"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">لایک ها</span>
                            <span class="info-box-number">41,410</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
                <!-- /.col -->
                <!-- fix for small devices only -->
                <div class="clearfix visible-sm-block"></div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-green"><i class="ion ion-ios-cart-outline"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">فروش</span>
                            <span class="info-box-number">760</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
                <!-- /.col -->
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-yellow"><i class="ion ion-ios-people-outline"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">کاربران جدید</span>
                            <span class="info-box-number">2,000</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
                <!-- /.col -->
            </div>
        </section>
    <h4>ModaresanVM</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="TeacherForm" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="Phone" value="@ViewBag.Phone" data="@ViewBag.Phone" type="hidden" />
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="OnvanShoghli" class="control-label"></label>
                    <input asp-for="OnvanShoghli" class="form-control" />
                    <span asp-validation-for="OnvanShoghli" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="Phone" type="hidden" value="@ViewBag.Phone" data="@ViewBag.Phone" />
                    <label asp-for="Daneshgah_Reshteh" class="control-label"></label>
                    <input asp-for="Daneshgah_Reshteh" class="form-control" />
                    <span asp-validation-for="Daneshgah_Reshteh" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <textarea asp-for="Description" class="form-control" ></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label"> Maghtae Tahsili</label>
                    <select name="MaghtaeTahsili" class="form-control" asp-items="@ViewBag.MaghtaeTahsili_Drop"></select>
                </div>
                <div class="form-group">
                    <label class="control-label"> Reshte </label>
                    <select name="Reshte" class="form-control" asp-items="@ViewBag.Reshte"></select>
                </div>
                <div class="form-group">
                    <label class="control-label"> DaragehElmi</label>
                    <select name="DaragehElmi" class="form-control" asp-items="@ViewBag.DaragehElmi"></select>
                </div>
                <div class="form-group">
                    <input name="img" type="file" class="form-control" />
                </div>
                <br />
                <br />
                <br />
                @for (int i = 0; i < 4; i++)
                {
                    <div class="form-group">
                        <label class="control-label"> FildAsli</label>
                        <select name="FildAsli" class="form-control" asp-items="@ViewBag.FildAsli"></select>
                    </div>
                    <div class="form-group">
                        <label class="control-label"> OnvanDoreh</label>
                        <select name="OnvanDoreh" class="form-control" asp-items="@ViewBag.OnvanDoreh"></select>
                    </div>
                        
                }
                <br />
                <br />
                <br />
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
    </body>
    </html>
