@model Request_Course.VM.ModaresanVM

@{
    Layout = "~/Views/Shared/_LayoutIntialing.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />


    <title>فرم اساتید</title>

</head>
<body>
    <section class="content-header">
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="panel panel-primary">
            <div class="panel-heading" style="font-family:'WYekan';"><p style="font-family:'WYekan';font-size:medium">تکمیل اطلاعات پروفایل</p></div>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="panel-body">
                <form id="myForm" asp-action="TeacherForm" method="post" enctype="multipart/form-data">

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-8">
                                    <div class="titrfild">
                                        <p style="font-family:WYekan;font-size:large">
                                            <i class="fa fa-square" style="color: #FFA503;"></i>&nbsp;&nbsp;
                                            <strong>اطلاعات کلی:</strong>
                                        </p>
                                    </div>
                                </div> <div class="col-4"></div>
                                <div class="col-md-10">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input asp-for="Phone" value="@ViewBag.Phone" data="@ViewBag.Phone" type="hidden" />
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-6">
                                    <label class="control-label">ایمیل</label>
                                    <i class="fa fa-asterisk" style="color: #ff4d4d;font-size:9px;"></i>
                                </div>
                                <div class="col-md-10">
                                    <input asp-for="Email" class="form-control" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-6">
                                    <label class="control-label">عنوان شغلی</label>
                                    <i class="fa fa-asterisk" style="color: #ff4d4d;font-size:9px;"></i>
                                </div>
                                <div class="col-md-10">
                                    <input asp-for="OnvanShoghli" class="form-control" />
                                    <span asp-validation-for="OnvanShoghli" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-6">
                                    <label class="control-label">دانشگاه </label>
                                    <i class="fa fa-asterisk" style="color: #ff4d4d;font-size:9px;"></i>
                                </div>
                                <div class="col-md-10">
                                    <input asp-for="Daneshgah_Reshteh" class="form-control" />
                                    <span asp-validation-for="Daneshgah_Reshteh" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-10">
                                    <label class="control-label"> مقطع تحصیلی</label>
                                    <i class="fa fa-asterisk" style="color: #ff4d4d;font-size:9px;"></i>
                                </div>
                                <div class="col-md-10">
                                    <select name="MaghtaeTahsili" class="form-control" asp-items="@ViewBag.MaghtaeTahsili_Drop"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-10">
                                    <label class="control-label"> سطح استادی</label>
                                    <i class="fa fa-asterisk" style="color: #ff4d4d;font-size:9px;"></i>
                                </div>
                                <div class="col-md-10">
                                    <select name="Reshte" class="form-control" asp-items="@ViewBag.Reshte"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-10">
                                    <label class="control-label"> درجه علمی</label>
                                    <i class="fa fa-asterisk" style="color: #ff4d4d;font-size:9px;"></i>
                                </div>
                                <div class="col-md-10">
                                    <select name="DaragehElmi" class="form-control" asp-items="@ViewBag.DaragehElmi"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-md-6">
                                    <label class="control-label">توضیحات</label>
                                    <i class="fa fa-asterisk" style="color: #ff4d4d;font-size:9px;"></i>
                                </div>
                                <div class="col-md-12">
                                    <textarea asp-for="Description" class="form-control"></textarea>
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="col-md-6">
                                    <label class="control-label">تصویر پروفایل</label>

                                </div>
                                <div class="col-md-10">
                                    <input name="img" type="file" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <hr />

                    <div class="row">
                        @for (int i = 0; i < 2; i++)
                        {
                            <br />
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-10">
                                        <label class="control-label">فیلد اصلی</label>
                                        <i class="fa fa-asterisk" style="color: #ff4d4d;font-size:9px;"></i>
                                    </div>
                                    <div class="col-md-10">
                                        <select name="FildAsli" class="form-control" asp-items="@ViewBag.FildAsli"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-10">
                                        <label class="control-label"> عنوان دوره</label>
                                        <i class="fa fa-asterisk" style="color: #ff4d4d;font-size:9px;"></i>
                                    </div>
                                    <div class="col-md-10">
                                        <select name="OnvanDoreh" class="form-control" asp-items="@ViewBag.OnvanDoreh"></select>
                                    </div>
                                </div>
                            </div>
                            <br />
                        }
                    </div>
                    <br />
                    <hr />
                    <br />
                    <div class="col-sm-12">
                        <table id="example2" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
                            <thead>
                                <tr role="row">
                                    <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="ascending" aria-label="نام کاربری: activate to sort column descending">عنوان اصلی </th>
                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="شماره: activate to sort column ascending">عنوان دوره</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr role="row" class="odd">
                                    <td class="sorting_1"></td>
                                    <td></td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <br />
                    <hr />
                    <br />
                    <div class="row">
                        <div class="col-md-6">
                        </div>

                        <div class="col-md-3">
                        </div>

                        <div class="col-md-3">
                            <button onclick="myFunction()" class="btn btn-success btn-block">ادامه و تکمیل اطلاعات</button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </section>




    @*  <h4>ModaresanVM</h4>
    <hr />
    <div class="row">
    <div class="col-md-4">
    <form asp-action="TeacherForm" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input asp-for="Phone" value="@ViewBag.Phone" data="@ViewBag.Phone" type="hidden" />
    <div class="form-group">
    <label asp-for="Email" class="control-label"></label>
    <input asp-for="Email" class="form-control" />
    <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
    <label asp-for="OnvanShoghli" class="control-label"></label>
    <input asp-for="OnvanShoghli" class="form-control" />
    <span asp-validation-for="OnvanShoghli" class="text-danger"></span>
    </div>
    <div class="form-group">
    <input asp-for="Phone" type="hidden" value="@ViewBag.Phone" data="@ViewBag.Phone" />
    <label asp-for="Daneshgah_Reshteh" class="control-label"></label>
    <input asp-for="Daneshgah_Reshteh" class="form-control" />
    <span asp-validation-for="Daneshgah_Reshteh" class="text-danger"></span>
    </div>
    <div class="form-group">
    <label asp-for="Description" class="control-label"></label>
    <textarea asp-for="Description" class="form-control"></textarea>
    <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
    <label class="control-label"> Maghtae Tahsili</label>
    <select name="MaghtaeTahsili" class="form-control" asp-items="@ViewBag.MaghtaeTahsili_Drop"></select>
    </div>
    <div class="form-group">
    <label class="control-label"> Reshte </label>
    <select name="Reshte" class="form-control" asp-items="@ViewBag.Reshte"></select>
    </div>
    <div class="form-group">
    <label class="control-label"> DaragehElmi</label>
    <select name="DaragehElmi" class="form-control" asp-items="@ViewBag.DaragehElmi"></select>
    </div>
    <div class="form-group">
    <input name="img" type="file" class="form-control" />
    </div>
    <br />
    <br />
    <br />
    @for (int i = 0; i < 4; i++)
    {
    <div class="form-group">
    <label class="control-label"> FildAsli</label>
    <select name="FildAsli" class="form-control" asp-items="@ViewBag.FildAsli"></select>
    </div>
    <div class="form-group">
    <label class="control-label"> OnvanDoreh</label>
    <select name="OnvanDoreh" class="form-control" asp-items="@ViewBag.OnvanDoreh"></select>
    </div>

    }
    <br />
    <br />
    <br />
    <div class="form-group">
    <input type="submit" value="Create" class="btn btn-default" />
    </div>
    </form>
    </div>
    </div>

    <div>
    <a asp-action="Index">Back to List</a>
    </div>*@

    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        <script>
            function myFunction() {
                event.preventDefault();
                Swal.fire({
                    title: 'آیا از اطلاعات خود مطمئن هستید ',
                    icon: 'question',
                    imageWidth: 350,
                    imageHeight: 300,
                    showCloseButton: false,
                    showCancelButton: true,
                    focusConfirm: false,
                    cancelButtonColor: '#d33',
                    confirmButtonColor: '#3085d6',
                    confirmButtonText: 'تایید',
                    cancelButtonText: 'رد',
                }).then(res => {
                    if (res.isConfirmed) {
                        document.getElementById("myForm").submit();
                    } else {
                        Swal.fire({
                            title: 'عدم تایید',
                            text: 'عدم ارسال اطلاعات',
                            icon: 'error',
                            confirmButtonText: 'اوکی',
                            cancelButtonText: 'اوکی',
                        })
                    }
                });
            }
        </script>

    </body>
    </html>
