@model Request_Course.VM.DarkhastDorehAmozeshiVM

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Request_DorehAmozeshi</title>
</head>
<body>

    <h4>DarkhastDorehAmozeshiVM</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Request_DorehAmozeshi" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <label>@ViewBag.user</label>
                <label>@ViewBag.Name_Sherkat    </label>
                <div class="form-group">
                    <label asp-for="DateStart" class="control-label"></label>
                    <input asp-for="DateStart" class="form-control" />
                    <span asp-validation-for="DateStart" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DateEnd" class="control-label"></label>
                    <input asp-for="DateEnd" class="form-control" />
                    <span asp-validation-for="DateEnd" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label"> OnvanAsli</label>
                    <select name="OnvanAsli" class="form-control" asp-items="@ViewBag.OnvanAsli"></select>
                </div>
                <div class="form-group">
                    <label class="control-label"> OnvanDoreh</label>
                    <select name="OnvanDoreh" class="form-control" asp-items="@ViewBag.OnvanDoreh"></select>
                </div>
                <div class="form-group">
                    <label class="control-label"> MediaAmozeshis</label>
                    <select name="MediaAmozeshis" class="form-control" asp-items="@ViewBag.MediaAmozeshis"></select>
                </div>
                <div class="form-group">
                    <label class="control-label"> RaveshAmozeshis</label>
                    <select name="RaveshAmozeshis" class="form-control" asp-items="@ViewBag.RaveshAmozeshis"></select>
                </div>
                <div class="form-group">
                    <label class="control-label"> ModateDorehs</label>
                    <select name="ModateDorehs" class="form-control" asp-items="@ViewBag.ModateDorehs"></select>
                </div>
                <div class="form-group">
                    <label class="control-label"> MokhatabanDorehs</label>
                    <select name="MokhatabanDorehs" class="form-control" asp-items="@ViewBag.MokhatabanDorehs"></select>
                </div>
                <div class="form-group">
                    <label class="control-label"> SatheKeyfi_Modares</label>
                    <select name="SatheKeyfi_Modares" class="form-control" asp-items="@ViewBag.SatheKeyfi_Modares"></select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </form>
            <br />
            <br />
            <br />
            <a asp-action="Request_New_DorehAmozeshi" asp-route-phone="@ViewBag.Phone ">
                New Requesr Doreh
            </a>
            <br />
            <br />
            <br />
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
    </body>
    </html>
